
.a label{
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    width: 310px;
    margin-bottom: 5px;
}
.a input:hover{
    cursor:text;
}

.ra{
margin-left: auto;
}


.left{
    width: 900px;
    margin-left: 30px;
}

.btn{
    width: 310px;
}

.btn input{
    padding: 8px 12px;
    float: right;
    background: #4286f4;
    border:none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

.btn input:hover{
    cursor: pointer;
}

body{
    background-color: #525252;
}
.centered-form{
    margin-top: 60px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
